.container-3col {
    display: block;
    margin: 10px;
    height: 100%;
    margin-left: 0;
    padding: 0px;
    margin-bottom: 35PX;
    div {
      display: inline-block;
      width: 30%;
      display: inline-block;
width: 30%;
background-color: white;
margin: 4px;
    }
}
#TH H3 {
  text-align: center;
}
#RM H3 {
  text-align: center;
}
#RB H3 {
  text-align: center;
}
